<!-- Post content -->
<!-- <p>{{ postDate | date: "short" }}</p> -->
<li
  *ngFor="let post of posts; let i = index"
  [ngClass]="{
    'list-group-item': true
  }"
>
  <h2 [ngStyle]="{ color: getColor(post) }">{{ post.title }}</h2>
  <p>{{ post.content }}</p>
  <button class="btn btn-success mr-1" (click)="onLoveIt(post)">
    Love it
  </button>
  <button class="btn btn-danger" (click)="onDontLoveIt(post)">
    Don't love it
  </button>
  <button class="btn btn-primary" (click)="onDeletePost(post)">
    Supprimer
  </button>
</li>
